.nav {
  position: fixed-top;
}
.nav-logo{
  display: flex;
  justify-content: center;
}
.transparent {
  background: rgba(0, 0, 0, 0.8);
}

.navbar.transparent.navbar-inverse .navbar-inner {
  background: rgba(0, 0, 0, 0.4);
}

.left-links {
  padding-left: 25px;
}
.right-links{
    padding-right: 25px;
}

.nav-name {
  color: white;
}


#navbar a {
  color: white;
  font: 1rem;
}
#navbar img{
  height: 30px;
  width: 30px;
  margin-right: 10px;

}
#navbar p{
  padding: 0 5px;

}
